

.go-game {
    text-align: center;
    border-top: 5px solid red;
    border-bottom: 5px solid red;
}

#digicode {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 0.2em;
  font-size: 1.4em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#output {
  display: flex;
  align-items: stretch;
  letter-spacing: .2em;
  margin-bottom: .4em;
}
#display {
  flex-grow: 1;
  text-align: left;
  padding: .25em .75em;
  font-size: 1.5em;
  background-color: #eeeeee;
  box-shadow: inset -.25rem -.25rem .5rem rgba(0,0,0,.1);
  height: inherit;
}

#light {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #1a1a1a;
  margin-left: .75em;
}
#light.is-error {
  background-color: #fd3838;
}
#light.is-success {
  background-color: #46fd46;
}

#keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#keypad > button:last-child {
  grid-column: 2;
}
button, #light {
    background-color: #eeeeee;
}

#cadenas {
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: #eee;
  margin: 0 auto;
  text-align: center;
  font-size: 1.4em;
  font-weight: 500;
}

#cadenas-hint .lock-letter {
  border-radius: 8px;
  text-align: center;
  border: 1px solid transparent;
  margin: 0.2em;
  font-size: 1.4em;
  max-width: 2em;
}

#cadenas-submit {
  padding: .1em;
  border-radius: 8px;
  color: white;
  font-size: 2em;
  background-color: black;
  border: #a1a1a1 solid 3px;
}

#cadenas-submit:hover {
  border-color: blue;
}
#cadenas-submit:focus,
#cadenas-submit:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#cadenas-result.loading {
    background-color: yellow;
}

#cadenas-result.loading::after {
    content: "";
  width: 1em;
  height: 1em;
  border: 4px solid transparent;
  border-top-color: black;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
  display:block;
  margin:auto;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

#cadenas-result.error {
    background-color: red;
}

#cadenas-result.success {
    background-color: green;
}
